<% provide(:title, "Top") %>

<div class="jumbotron jumbotron-none">
  <div class="top-container">
    <div class="row form-row-common">
      <div class="col-md-6 col-md-offset-3">
      <h1 class="headline">Against the forgetting curve</h1>
  
      <div class="button-group">
        <a class="btn-content bs-sm cubic" href="/login">
          <span class="hovering">Login</span>
          <span class="default">Login</span>
        </a>
        <a class="btn-content bs-sm cubic" href="/users/new">
          <span class="hovering">Sign-up</span>
          <span class="default">Sign-up</span>
        </a>
      </div>
    </div>
  </div>    
</div>