// mixin
@mixin animation(
  $name, $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
  ) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}


// 変数
$cWhite: white;
$cBlack: black;
$cSignUp: #38e03db5;


// 画面背景
.jumbotron {
    background-image: url('../images/top-page-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 32px);
 }
 
.jumbotron-none {
    margin-top: -25px;
    margin-bottom: 0;
    border-radius: 0;
}

.jumbotron.jumbotron-long{
    height: calc(100vh - 32px);
    padding-top: 30px;

    &.height-change {
      height: auto;
      // transition: height 3s ease;
      &.challenge-new {
        padding-bottom: calc(17vh - 1px);
      }
    }
}

// heightを動的に変更させる
.height-change-line {
  display: inline-block;
  height: 1px;
  width: 100px;
  position: absolute;
  background-color: red;
  top: 0px;
  // top: calc(100vh + 1px);
  opacity: 0;
}

// テーブル
.table-common {
    background-color: rgba(255, 255, 255, 0.90);
    margin-top: 40px;
}

.willpaginate-button-top {
    display: inline-block;
    position: relative;
    top: 48px;
}


// top画面
.top-container {
    position: relative;
    height: 100%;
}

// フォーム
.form-content {
  margin-top: 8vh;
}

.form-row-common {
    justify-content: center;
}

.challenge-form {
    margin-left: 0px;
    margin-right: 0px;
    &__top {
      margin-top: 5vh;
    }
    &__bottom {
      width: 100%;
    }
}

.form-label-common {
    display: inline-block;
    width: 200px;
    height: 5%;
    background-color: rgba(49, 136, 209, 0.68);
    color: white;
    padding-left: 2px;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
}

.form-content-top {
    margin-top: 20px;
}

.form-content-common {
    margin-bottom: 20px;
}

.submit-layout {
    display: inline-block;
    width: 100%;

    &.a-side {
        opacity: 0;
        &:hover {
            opacity: 1;
            background-color: $cBlack;
            color: $cWhite;
        }
    }
    &.b-side {
        background-color: $cWhite;
        color: $cBlack;
    }
}

.headline {
    color: black;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.68);
    padding: 5px 10px 10px 10px;
    outline: double 5px #adaeae;
    outline-offset: -6px;
    border-radius: 10px;
    margin-bottom: 1px;
    width: 100%;
    text-align: center;

    &.page-title {
        font-size: 2rem;
    }

    &__mt {
      margin-top: 4vh;
    }
}

//ボタン

.btn-delete {
    background-color: #ff000078;
    color: white;
    margin-top:5px;
}

.btn-edit {
    background-color: #4c28a7;
    color: white;
}

.other-question-parent {
    display: flex;
    justify-content: flex-end;
}

input[type=button].btn-other-question {
    display: inline-block;
    background-color: pink;
    border: 1px dotted red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 13px;
    &:hover {
        background-color: #fce4ec;
    }
}

.button-group {
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;

    &.top {
        height: 30vh;
    }
}

.btn-content {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 300px;
    margin: 0 auto;
    cursor: pointer;

    &.bs-sm {
        width: 150px;
        height: 50px;    
    }
    &.bs-lg {
        width: 100%;
        height: 50px;    
    }

    &.cubic {
        & span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid $cBlack;
            line-height: 48px;
            text-align: center;
            transition: all 0.3s;
            transform-origin: center center -25px;
        }

        & .hovering {
            color: $cWhite;
            opacity: 0;
            transform: rotateX(90deg);

            &.btn-login {
                background-color: #0000ff99;
            }
            &.btn-signup {
                background-color: #38e03db5;
            }
        }

        & .default {
            color: black;
            background-color: #fefac994;
            transform: rotateX(0);

            &.btn-login {
                border: 1px solid #0000ff99;
            }
            &.btn-signup {
                border: 1px solid #38e03db5;
            }
        }

        &:hover {
            & .hovering {
                opacity: 1;
                transform: rotateX(0);
            }
            & .default {
                transform: rotateX(-90deg);
            }
        }
    }
}

//チャレンジ画面

.challenge-question-view {
    position: relative;
    background-color: white;
    width: 40%;
    height: 20%;
}

.challenge-correct-view {
    position: relative;
    background-color: white;
    width: 40%;
    height: 20%;
}

.challenge-input-form {
    position: relative;
    background-color: white;
    width: 40%;
    height: 20%;
}

.challenge-input {
    background-color: #fffde7;
}

.challenge-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.correct-title {
    position:relative ;
    height: 50px;
    background-color: #56ff0038;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.correct-view-base {
    padding-left: 5px;
    padding-bottom: 30px;
}

.correct-view-area {
    width: 99%;
}

.correct-button {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    background-color: white;
    border: 1px;
    transition: all 0.3s;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;

    & span {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $cBlack;
        color: white;
        transform: translateX(-100%);
        transition: all 0.3s;
        line-height: 42px;
    }
    &:hover span {
        transition: all 0.3s;
        transform: none;
    }
}

//チャレンジ画面【正解表示用スライド】
.correct-form {
    position: relative;
    background-color: $cWhite;
    display: inline-block;
    width: 100%;
    height: 96%;
    border-radius: 4%;
    overflow: hidden;

    &::before {
        content:'';
        position: absolute;
        background-color: #d9ffd9;
        width: 100%;
        height: 100%;
        border-radius: 4%;
        z-index: 2;
        border: 1px solid;
    }
    &.correct-view {
        &::before {
        @include animation(
            $name: correct-cover-silde,
        );
        }
    }
}

@keyframes correct-cover-silde {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

.btn-next-question {
    height: 70px;
    border-radius: 12px;
    border-top: 8px double white;
    border-left: 8px double white;
    border-right: 8px double black;
    border-bottom: 8px double black;
    &:hover {
        border-top: 8px double white;
        border-left: 8px double white;
        border-right: 8px double black;
        border-bottom: 8px double black;    
    }
}

//ラジオボタン

.proficiency-aria-parent {
    display: flex;
    background-color: white;
    margin: 0px 20px 20px 20px;
    border-radius: 12px;
}

.proficiency-title {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 70px;
    background-color: #faebd7;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top: 8px double white;
    border-left: 8px double white;
    border-bottom: 8px double black;
    text-align: center;
    line-height: 3em;
    font-size: large;
}

.proficiency-aria {
    position: relative;
    display: flex;
    width: 50%;
    height: 70px;
    background-color: antiquewhite;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    justify-content: center;
    align-items: center;
    border-top: 8px double white;
    border-right: 8px double black;
    border-bottom: 8px double black;
    padding-right: 5vw
}

input[type=radio] {
    display: inline-block;
    height: 40px;
    width: 50px;
    margin: 0;

    @for $i from 1 through 3 {
        &.lavel-#{$i} {
            &::before {
                content: "#{$i}";
                display: inline-block;
                width: 50px;
                height: 40px;
                background-color: rgb(128 128 128 / 0%);
                // text-align: center;
                padding-left: 20px;
                line-height: 36px;
                color: #c5f5fb;
            }
        }
    }
}


// チャレンジ画面【旧】
.challenge-question {
    background-color: #00ffff2b;
    height: 50px;
}

// レイアウト実験用
.challenge-bm-parent {
  display: flex;
  position: relative;
  width: 100%;
  height: 70px;
}
.challenge-bm-child {
  display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  &__left {
    display: flex;
  }
}

// QRコード表示用
.qr-code-box {
  height: 150px;
  justify-content: center;
  margin-top: 5vh;

  &__img {
    display: inline-block;
    width: 150px;
    border-radius: 15px;
    background-color: rgb(30, 89, 221 / 53%);
    background-image: url('../images/qr-code-afc.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

// 自己PR欄の拡張用
.self-pr-area {
  position: absolute;
  height: auto;
  width: 100%;
  background-color: #00adff42;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.card.self-pr-box {
  &__parent {
  width: 80vw;
  margin: 5vh 10vw 0vh;
    & .card-header {
      background-color: #ffeb0066;
    }
  }
  &__child {
    margin-top: 3vh;
    width: 98%;
    margin-left: 1%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
    & .card-header {
        background-color: rgb(246 255 0 / 18%);
    }
  }
  &__child-second {
    & .card-header {
        background-color: #ff00001a;
    }
  }
}
.last-mb {
  margin-bottom: 5vh;
}

// デバッグウインドウ
.debug_dump {
     clear: both;
     float: left;
     width: 100%;
     margin-top: 45px;
     -moz-box-sizing:    border-box;
     -webkit-box-sizing: border-box;
     box-sizing:         border-box;
  }
  