
.jumbotron {
    background-image: url('../images/top_page_image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
 }
 
 .challenge-question {
     background-color: #00ffff2b;
     height: 50px;
 }

 .challenge-margin {
     margin-top: 20px;
 }

 .challenge-input {
     background-color: #7fff0042;
 }
